@{
    ViewData["Title"] = "Privacy Policy";
}

@model NewYorkTaxi.DisplayModel.TaxiDataDisplay


@{
    ViewData["Title"] = "View";
}

<h1>Data about Taxi Companies in New York</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].averageValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.averageValue)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].PassengerTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerTotal)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].TotalTrips)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTrips)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].TotalTips)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTips)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].TotalFares)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFares)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].AverageDistance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageDistance)
                </td>
            </tr>
        }
    </tbody>
</table>

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load Charts and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        //Draw charts when call back is loaded
        google.charts.setOnLoadCallback(drawTotalTripsChart);

        google.charts.setOnLoadCallback(drawTotalPassengersChart);

        google.charts.setOnLoadCallback(drawTotalTipsChart);

        google.charts.setOnLoadCallback(drawTotalFaresChart);

          // Callback that draws the pie chart for Total tips earned.
        function drawTotalTipsChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vendor ID');
            data.addColumn('number', ' Total Tip Amount');
            data.addRows([
                @foreach (var data in Model.DistinctVendors) {<text>['@data.VendorName', @data.TotalTipsDisplay],</text>}
            ]);

            // Set options for this chart.
            var options = {
                title: '@Html.DisplayNameFor(model => model.DistinctVendors[0].TotalTips)',
                width: 500,
                height: 400
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(document.getElementById('Total_Tips_Div'));
            chart.draw(data, options);
        }

        // Callback that draws the pie chart for the amount of trips Driven.
        function drawTotalTripsChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vendor ID');
            data.addColumn('number', 'Trips');
            data.addRows([
                    @foreach (var data in Model.DistinctVendors) {<text>['@data.VendorName', @data.TotalTrips],</text>}
            ]);

            // Set options for this chart.
            var options = {
                title: 'Total Trips Driven',
                width: 500,
                height: 400
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(document.getElementById('Total_Trips_Div'));
            chart.draw(data, options);
        }

        // Callback that draws the pie chart for the total amount of passengers transported.
        function drawTotalPassengersChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vendor ID');
            data.addColumn('number', 'Passengers');
            data.addRows([
               @foreach (var data in Model.DistinctVendors) {<text>['@data.VendorName', @data.PassengerTotal],</text>}
            ]);

            // Set options for.
            var options = {
                title: 'Total Passengers Transported',
                width: 500,
                height: 400
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(document.getElementById('Total_Passenger_Div'));
            chart.draw(data, options);
        }

        // Callback that draws the pie chart for the total amount Fares earned.
        function drawTotalFaresChart() {

            // Create the data table
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vendor ID');
            data.addColumn('number', 'Amount Earned');
            data.addRows([
               @foreach (var data in Model.DistinctVendors) {<text>['@data.VendorName', @data.TotalFaresDisplay],</text>}

            ]);

            // Set options for pie chart.
            var options = {
                title: '@Html.DisplayNameFor(model=> model.DistinctVendors[0].TotalFares)',
                width: 500,
                height: 400
            };

            // Instantiate and draw the chart for this method
            var chart = new google.visualization.PieChart(document.getElementById('Total_Fares_Div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
        <tr>
            <td><div id="Total_Trips_Div" style="border: 1px solid #ccc"></div></td>
            <td><div id="Total_Passenger_Div" style="border: 1px solid #ccc"></div></td>
            
        </tr>
        <tr>
            <td><div id="Total_Tips_Div" style="border: 1px solid #ccc"></div></td>
            <td><div id="Total_Fares_Div" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
</body>
</html>

