@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@model NewYorkTaxi.DisplayModel.AveragePassengerDisplay


@{
    ViewData["Title"] = "View";
}

<h1>Average Data</h1>
<h1>Her skal Det meget gerne stå en graf under!!</h1>
<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label.PassengerCountAverage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.AvgPassengers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerCountAverage)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart()
        {
            var data = google.visualization.arrayToDataTable([
                ['VendorID', 'Passenger Count'],
                @foreach (var data in Model.AvgPassengers)
                {
                    <text>['@data.VendorID', @data.PassengerCountAverage],</text>
                }
                var options = { title: 'Passengers carried', curveType: 'function', legend: { position: 'bottom' } };
            var chart = new google.visualization.LineChart(document.getElementById('mychart'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="mychart" style="width: 900px; height: 500px"></div>
</body>
</html>