@{
    ViewData["Title"] = "Privacy Policy";
}

@model NewYorkTaxi.DisplayModel.AveragePassengerDisplay


@{
    ViewData["Title"] = "View";
}

<h1>Passanger Data for Taxi Companies</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].averageValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.averageValue)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].PassengerTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerTotal)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].TotalTrips)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTrips)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].TotalTips)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTips)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].TotalFares)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFares)
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label.VendorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistinctVendors[0].AverageDistance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.DistinctVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageDistance)
                </td>
            </tr>
        }
    </tbody>
</table>

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load Charts and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        //Draw charts when call back is loaded
        google.charts.setOnLoadCallback(drawTotalTripsChart);

        google.charts.setOnLoadCallback(drawTotalPassengersChart);

        google.charts.setOnLoadCallback(drawTotalTipsChart);

        google.charts.setOnLoadCallback(drawAverageDistanceChart);

        google.Charts.setOnLoadCallback(drawSomethingChart);


          // Callback that draws the pie chart for Total tips earned.
        function drawTotalTipsChart() {

            // Create the data table for Sarah's pizza.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vendor ID');
            data.addColumn('number', ' Total Tip Amount');
            data.addRows([
                ['@Model.DistinctVendors[0].VendorName', @Model.DistinctVendors[0].TotalTipsDisplay],
                ['@Model.DistinctVendors[1].VendorName', @Model.DistinctVendors[1].TotalTipsDisplay]
            ]);

            // Set options for Sarah's pie chart.
            var options = {
                title: '@Html.DisplayNameFor(model => model.DistinctVendors[0].TotalTips)',
                width: 400,
                height: 300
            };

            // Instantiate and draw the chart for Sarah's pizza.
            var chart = new google.visualization.PieChart(document.getElementById('Total_Tips_Div'));
            chart.draw(data, options);
        }

        // Callback that draws the pie chart for Sarah's pizza.
        function drawTotalTripsChart() {

            // Create the data table for Sarah's pizza.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vendor ID');
            data.addColumn('number', 'Trips');
            data.addRows([
                ['@Model.DistinctVendors[0].VendorName', @Model.DistinctVendors[0].TotalTrips],
                ['@Model.DistinctVendors[1].VendorName', @Model.DistinctVendors[1].TotalTrips]
            ]);

            // Set options for Sarah's pie chart.
            var options = {
                title: 'Total Trips Driven',
                width: 400,
                height: 300
            };

            // Instantiate and draw the chart for Sarah's pizza.
            var chart = new google.visualization.PieChart(document.getElementById('Total_Trips_Div'));
            chart.draw(data, options);
        }

        // Callback that draws the pie chart for Anthony's pizza.
        function drawTotalPassengersChart() {

            // Create the data table for Anthony's pizza.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vendor ID');
            data.addColumn('number', 'Passengers');
            data.addRows([
                ['@Model.DistinctVendors[0].VendorName', @Model.DistinctVendors[0].PassengerTotal],
               ['@Model.DistinctVendors[1].VendorName', @Model.DistinctVendors[1].PassengerTotal]

            ]);

            // Set options for Anthony's pie chart.
            var options = {
                title: 'Total Passengers Transported',
                width: 400,
                height: 300
            };

            // Instantiate and draw the chart for Anthony's pizza.
            var chart = new google.visualization.PieChart(document.getElementById('Total_Passenger_Div'));
            chart.draw(data, options);
        }

        // Callback that draws the pie chart for Anthony's pizza.
        function drawSomethingChart() {

            // Create the data table for Anthony's pizza.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vendor ID');
            data.addColumn('number', 'Passengers');
            data.addRows([
                ['@Model.DistinctVendors[0].VendorName', @Model.DistinctVendors[0].AverageDistanceDisplay],
               ['@Model.DistinctVendors[1].VendorName', @Model.DistinctVendors[1].AverageDistanceDisplay]

            ]);

            // Set options for Anthony's pie chart.
            var options = {
                title: '@Html.DisplayNameFor(model=> model.DistinctVendors[0].AverageDistance)',
                width: 400,
                height: 300
            };

            // Instantiate and draw the chart for Anthony's pizza.
            var chart = new google.visualization.PieChart(document.getElementById('Total_Something_Div'));
            chart.draw(data, options);
        }

        function drawAverageDistanceChart() {

            // Create the data table for Anthony's pizza.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Vendor ID');
            data.addColumn('number', 'Amount Earned');
            data.addRows([
                ['@Model.DistinctVendors[0].VendorName', @Model.DistinctVendors[0].TotalFaresDisplay],
               ['@Model.DistinctVendors[1].VendorName', @Model.DistinctVendors[1].TotalFaresDisplay]

            ]);

            // Set options for Anthony's pie chart.
            var options = {
                title: '@Html.DisplayNameFor(model=> model.DistinctVendors[0].TotalFares)',
                width: 400,
                height: 300
            };

            // Instantiate and draw the chart for Anthony's pizza.
            var chart = new google.visualization.PieChart(document.getElementById('Average_Distance_Div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
        <tr>
            <td><div id="Total_Trips_Div" style="border: 1px solid #ccc"></div></td>
            <td><div id="Total_Passenger_Div" style="border: 1px solid #ccc"></div></td>
            <td><div id="Total_Tips_Div" style="border: 1px solid #ccc"></div></td>
            
        </tr>
        <tr>
            <td><div id="Average_Distance_Div" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
</body>
</html>

